<div class="control-group">
  <label class="control-label" for="title">Title</label>
  <div class="controls">
    {{view Ember.TextField valueBinding="title" id="title" placeholder="Title" required="true"}}
  </div>
</div>
<div class="control-group">
  <label class="control-label" for="description">Description</label>
  <div class="controls">
    {{view Ember.TextArea valueBinding="description" id="description" placeholder="Description" required="true"}}
  </div>
</div>
<div class="control-group">
  <label class="control-label" for="image_url">Image URL</label>
  <div class="controls">
    {{view Ember.TextField valueBinding="image_url" id="image_url" type="image_url" placeholder="Image URL"}}
  </div>
</div>
<div class="control-group">
  <label class="control-label" for="price">Price</label>
  <div class="controls">
    {{view Ember.TextField valueBinding="price" id="price" placeholder="Price"}}
  </div>
</div>